/* Title */
.title{
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.2;
    background-clip: text;
    background: var(--gradient-3);
   -webkit-background-clip: text;
   -webkit-text-fill-color:  transparent;
}
/* End Of Title */

/* Heading */
.heading-area .heading {
    margin-bottom: .5rem;
}
.heading{
    display: flex;
    align-items: start;
}
.heading-area .h3, .heading-area .h4 {
    margin-bottom: .25em;
}
.heading-2, h2{
    font-size: 2rem;
}
.heading-3, h3{
    font-size: 1.25rem;
}
.heading-4, h4{
    font-size: 1.1rem;
}
.heading-5, .h5{
    font-size: 1;
    font-weight: 400;
    line-height: 1.5;
    color: var(--txt-secondary);
}
.heading-6, .h6{
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--txt-secondary);
}
.heading-area {
    .heading-6, h6{
        margin-left: 1.2rem;
    }
}
*:is(.section, .section-container, .sc-container) > .heading::before,
.heading-decor::before {
    content: " ";
    position: relative;
    height: .6em;
    width: .25em;
    min-width: 8pt;
    display: inline-block;
    background: var(--gradient-3);
    margin-right: .75rem;
    top: .7rem;
    border-radius: var(--radius-050);
}
.heading-dot::before {
    content: " ";
    position: relative;
    height: 8pt;
    width: 8pt;
    display: inline-block;
    background: var(--gradient-3);
    margin-right: .75rem;
    top: 0.6rem;
    border-radius: var(--radius-050);
}
/* End Of Heading*/

/* Buttons*/
.btn-area
{
  display: flex;
  flex-wrap: wrap;
}
button{
    color: var(--label-primary);
    border-radius: var(--radius-200);
    margin: var(--spacing-100);
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-basis: 335px;
    align-items: center;
    cursor: pointer;
}
.btn-label{
    font-size: 1.1rem ;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: baseline;
    width: fill-available;
    width: -moz-available;
    cursor: pointer;
    margin: .0 .0 .2em;
}
.btn-link {
    color: inherit;
    text-decoration: none;
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: var(--spacing-100) var(--spacing-200) var(--spacing-100);
}
.btn-icon{
  height: var(--txt-100);
  position: relative;
  top: .13em;
}
.btn-primary{      
    background: var(--bkg-tertiary);
    border: var(--border-300);
    border-color: var(--border-secondary);
    box-shadow: 0px 4px 4px #0005, 0px 12px 8px #0003;
    background-size: 250%;
    transition: 200ms ease-out;
}
.btn-secondary {
    background: var(--bkg-quaternary);
    border: var(--border-300);
    border-color: var(--border-secondary);
    box-shadow: 0px 4px 4px #0005, 0px 12px 8px #0003;
    transition: 200ms ease-out;
    
}
.btn-primary:hover {
    background-position: 100%;
    box-shadow: 0px 4px 24px -8px var(--quaternary), 0px 8px 32px -16px var(--quaternary);
}
.btn-secondary:hover {
    border-color: var(--border-tertiary);
    box-shadow:  0px 8px 32px -16px var(--quaternary);
    background-size: 150%;
    background-position: 100%;
  }
.btn-tertiary {
    background: var(--bkg-quintenary);
    border: var(--border-000);
    text-shadow: 1px 2px 2px var(--darker);
    transition: 200ms ease-out;
}
.btn-tertiary:hover{
    text-shadow: 2px 2px 16px var(--secondary);
  }
/* End Of Buttons*/

/* Header */
header {
    display: flex;
    width: 100vw;
    max-width: 100%;
    justify-content: space-between;
    align-items: start;
    position: fixed;
    z-index: 999999;
    background: var(--gradient-2);
  }
 .header-logo {
    z-index: 9999;
    margin: var(--spacing-200);
 }

/* Hamburguer Menu */
.hb-menu {
    width: 30vw;
    max-width: 375px;
    max-height: 100vh;
    right: 0;
    position: fixed;
    top: 0;
    padding: var(--spacing-700) var(--spacing-150) var(--spacing-150) var(--spacing-150);
    box-sizing: border-box;
    overflow-y: auto;
  }
.hb-menu[open]{
    width: 100vw;
}
.hb-menu::before {
    content: ' ';
    width: 30vw;
    max-width: 375px;
    position: fixed;
    top: 0;
    right: 0;
  }
.hb-menu[open]::before {
    content: ' ';
    width: 100vw;
    background: var(--bkg-quaternary);
    backdrop-filter: var(--bd-filter-100);
    height: 100vh;
    box-shadow: -8px 0px 16px #0006, -24px 0px 12px #0005;
    transition: 800ms ease;
}
.hb-menu ::marker {
    content: '';
}
.hb-menu-list {
    padding: unset;
    min-width: max-content;
    position: relative;
}
.hb-menu-btn {
    background: var(--bkg-quaternary);
    backdrop-filter: var(--bd-filter-100);
    border: unset;
    border-radius: var(--radius-100);
    padding: var(--spacing-150);
    width: fit-content;
    display: block;
    margin-left: auto;
    box-shadow: 0px 4px 4px #0005, 0px 12px 8px #0003;
    cursor: pointer;
    position: fixed;
    right: var(--spacing-150);
    top: var(--spacing-150);
}
.hb-menu-btn-icon {
    min-height: 28px;
    position: relative;
  }
  .hb-menu[open] .hb-menu-btn-icon {
    top: 8pt;

  }
.hb-menu-btn-icon-elm {
    display: block;
    height: 1.5pt;
    width: 24pt;
    background-color: var(--border-secondary);
    border-radius: var(--radius-025);
    position: relative;
}
.hb-menu-btn-icon-elm-2 {
    margin: 8pt 0;
}
.hb-menu[open] .hb-menu-btn-icon-elm-1 {
    transform: translate(-50%, 50%) rotate(45deg);
    left: 50%;
}
.hb-menu[open] .hb-menu-btn-icon-elm-2 {
    display: none;
}
.hb-menu[open] .hb-menu-btn-icon-elm-3 {
    transform: translate(-50%) rotate(-45deg);
    left: 50%;
}
.hb-menu ::marker {
    content: '';
}
/* End Of Hamburguer Menu */
/* End Of Header */

/* Accordion */
.accordion-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--spacing-500);
  }
.accordion{
    padding: var(--spacing-100);
    margin-bottom: var(--spacing-200);
    position: relative;
    flex-basis: 100%;
    transition: 400ms ease-out;
}
.accordion-1 {
    border-bottom: var(--border-100) var(--border-secondary);
}
.accordion-2 {
    background-image: url(../images/fundo-acordeao.svg);
    background-size: cover;
    border-radius: var(--radius-050);
    box-shadow: 0px 4px 4px #0005, 0px 12px 8px #0003;
}
.accordion-2::before {
    border-radius: var(--radius-050);
    content: '';
    background: var(--bkg-secondary);
    top: 1pt;
    left: 1pt;
    bottom: 1pt;
    right: 1pt;
    position: absolute;
    z-index:-1;
}
.accordion-summary::after{
    transition: 200ms ease-out;
}
.accordion-summary:hover::after{
    filter: brightness(200%);
}
.accordion > * {
    padding: var(--spacing-100);
    box-sizing: border-box;
  }
  .accordion-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
.accordion-heading {
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
    margin: unset;
    padding-right: var(--spacing-200);
}
.accordion-area .heading::before  {
    display: none;
}
.accordion-summary::after {
    content: url(../icons/icone-mais.svg);
    width: fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.accordion[open=""] .accordion-summary::after  {
    content: url(../icons/icone-menos.svg);
}
/* End Of Accordion */

/* Info Box */
.ib-img-area{ grid-area: img;}
.ib-heading-area{ grid-area: heading;}
.ib-txt-area{ grid-area: txt;}

.info-box{
    display: grid;
    row-gap: var(--spacing-100);
    column-gap: var(--spacing-200);
    grid-template-areas:
        'img heading'
        'img txt';
    justify-content: start;
    position: relative;
}
/* End Of Info Box */

/* Timeline */
.timeline{
    position: relative;
}
.tl-line{
    background: var(--border-secondary);
    height: 100%;
    width: 2pt;
    display: block;
    position: absolute;
    left: 3px;
}
/* End Of Timeline*/