/* Title */
h1{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1;
    background-clip: text;
    background: var(--gradient-3);
   -webkit-background-clip: text;
   -webkit-text-fill-color:  transparent;
   word-break: break-all;
}
/* End Of Title */

/* Heading */
.heading {
    display: flex;
    align-items: start;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.25rem;
}
.h6{
    font-size: 0.75rem;
    color: var(--txt-secondary);
}
.heading-area .heading {
    margin-bottom: unset;
}
.heading-area .h3 {
    margin-bottom: .25em;
}
.section > .heading::before {
    content: " ";
    position: relative;
    height: .6em;
    width: .25em;
    min-width: 8pt;
    display: inline-block;
    background: var(--gradient-3);
    margin-right: .75rem;
    margin-top: 0.1em;
    border-radius: var(--radius-050);
}
/* End Of Heading*/

/* Buttons*/
.btn-area
{
  display: flex;
  flex-wrap: wrap;
}
button{
    color: var(--label-primary);
    border-radius: var(--radius-200);
    padding: var(--spacing-100) var(--spacing-200) var(--spacing-100);
    margin: var(--spacing-100);
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-basis: 280px;
    align-items: center;
}
.btn-label{
    font-size: var(--txt-200);
    font-weight: 500;
    line-height: 1.2;
    vertical-align: baseline;
}
.btn-icon{
  height: var(--txt-100);
}
.btn-primary{      
    background: var(--bkg-tertiary);
    border: var(--border-200);
    border-color: var(--border-secondary);
}
.btn-secondary {
    background: var(--bkg-quintenary);
    border: var(--border-500);
    border-color: var(--border-secondary);
}
.btn-tertiary {
    background: var(--bkg-quintenary);
    border: var(--border-000);
}
/* End Of Buttons*/

/* Header*/
header {
    display: flex;
    width: 100vw;
    max-width: 100%;
    justify-content: space-between;
    align-items: start;
    position: fixed;
    z-index: 999999;
    background: var(--gradient-2);
  }
 .header-logo {
    z-index: 9999;
    margin: var(--spacing-100);
 }

/* Hamburguer Menu */
.hb-menu {
    width: 100vw;
    max-width: 375px;
    right: 0;
    position: fixed;
    top: 0;
    padding: var(--spacing-100);
    box-sizing: border-box;
  }
.hb-menu[open]{
    background: var(--bkg-quaternary);
    backdrop-filter: var(--bd-filter-100);
    height: 100vh;
    box-shadow: -8px 0px 16px #0006, -24px 0px 12px #0005;
}
.hb-menu ::marker {
    content: '';
}
.hb-menu-list {
    padding: unset;
}
.hb-menu-btn {
    background: var(--bkg-quaternary);
    backdrop-filter: var(--bd-filter-100);
    border: unset;
    border-radius: var(--radius-100);
    padding: var(--spacing-150);
    width: fit-content;
    display: block;
    margin-left: auto;
    box-shadow: 0px 4px 4px #0005, 0px 12px 8px #0003;
}
.hb-menu-btn-icon {
    min-height: 28px;
    position: relative;
  }
  .hb-menu[open] .hb-menu-btn-icon {
    top: 8pt;

  }
.hb-menu-btn-icon-elm {
    display: block;
    height: 1.5pt;
    width: 24pt;
    background-color: var(--border-secondary);
    border-radius: var(--radius-025);
    position: relative;
}
.hb-menu-btn-icon-elm-2 {
    margin: 8pt 0;
}
.hb-menu[open] .hb-menu-btn-icon-elm-1 {
    transform: rotate(45deg);
}
.hb-menu[open] .hb-menu-btn-icon-elm-2 {
    display: none;
}
.hb-menu[open] .hb-menu-btn-icon-elm-3 {
    transform: rotate(-45deg);
}
.hb-menu ::marker {
    content: '';
}
/* End Of Hamburguer Menu */
/* End Of Header */

/* Accordion */
.accordion{
    padding: var(--spacing-100);
    margin-bottom: var(--spacing-200);
    position: relative;
}
.accordion-1 {
    border-bottom: var(--border-100) var(--border-secondary);
}
.accordion-2 {
    background-image: url(../images/fundo-acordeao.svg);
    background-size: cover;
    border-radius: var(--radius-050);
    box-shadow: 0px 4px 4px #0005, 0px 12px 8px #0003;
}
.accordion-2::before {
    border-radius: var(--radius-050);
    content: '';
    background: var(--bkg-secondary);
    top: 1pt;
    left: 1pt;
    bottom: 1pt;
    right: 1pt;
    position: absolute;
    z-index:-1;
}
.accordion > * {
    padding: var(--spacing-100);
    box-sizing: border-box;
  }
  .accordion-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.accordion-heading {
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
    margin: unset;
}
.accordion-area .heading::before  {
    display: none;
}
.accordion-summary::after {
    content: url(../icons/icone-mais.svg);
    width: fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.accordion[open=""] .accordion-summary::after  {
    content: url(../icons/icone-menos.svg);
}
/* End Of Accordion */

/* Info Box */
.ib-img-area{ grid-area: img;}
.ib-heading-area{ grid-area: heading;}
.ib-txt-area{ grid-area: txt;}

.info-box{
    display: grid;
    row-gap: var(--spacing-100);
    column-gap: var(--spacing-200);
    grid-template-areas:
        'img heading'
        'img txt';
    justify-content: start;
}
/* End Of Info Box */

/* Timeline */
.timeline{
    position: relative;
}
.tl-line{
    background: var(--border-secondary);
    height: 100%;
    width: 2pt;
    display: block;
    position: absolute;
    left: 3px;
    z-index: -1;
}
/* End Of Timeline*/