/* Use the selectors in this document to style the website globally **
** Individual styles should be placed in the styles.css document */

*{
margin: 0;
box-sizing: border-box;

/* PPRIMITIVE COLOR VARIABLES **

    ** Gray Shades*/
    --black: #010101;
    --darker: #101015;
    --dark: #333335;
    --gray: #C7C7C9;
    --light: #ededee;
    --lighter: #FDFDFE;

    /* Brand Colors */
    --primary: #4E31F5;
    --secondary: #6C52FF; /*roxo-claro*/
    --tertiary: #8C31F5;
    --quaternary: #9A88FF;
    --quintenary: #3155F5;
    --sextenary: #3190F5;
/* END OF PPRIMITIVE COLOR VARIABLES */

--bd-filter-100: blur(10px);

/* TEXT SIZE VARIABLE */
--txt-100: 14pt;
--txt-200: 16pt;

/** SPACING VARIABLES */
--spacing-100: 8pt;
--spacing-150: 12pt;
--spacing-200: 16pt;
--spacing-300: 24pt;
--spacing-400: 32pt;
--spacing-500: 40pt;
--spacing-600: 48pt;
--spacing-700: 56pt;
--spacing-800: 64pt;
--spacing-900: 72pt;
/* TEXT SIZE  VARIABLES **

** TOKENIZED  NUMBER VARIABLES */
/* END OF TOKENIZED  NUMBER VARIABLES **

** Default Body Text Style*/
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    line-height: 1.75;
    color: var(--txt-primary);
}

html{
    max-width: 100%;
    overflow-x: hidden;
    font-size:var(--txt-100);
}

/* TOKENIZED COLOR VARIABLES */
.dark-theme{

    /* GRADIENT VARIABLES */
    --gradient-1: linear-gradient(150deg, #fff4 0%, #fff0 100%);
    --gradient-2: linear-gradient(180deg, var(--black) 1%, transparent 100%);
    --gradient-3: linear-gradient(170deg, var(--primary) 0%, var(--tertiary) 34%, var(--secondary) 100%);
    --gradient-4: #10101566 linear-gradient(150deg, #99f2 0%, #1129 100%);
    /* END OF GRADIENT VARIABLES */

    /* Backgrounds */
    --bkg-primary: var(--darker);
    --bkg-secondary: var(--black);
    --bkg-tertiary: var(--gradient-3);
    --bkg-quaternary: var(--gradient-4);
    --bkg-quintenary: transparent;

    /* Border Colors */
    --border-primary: var(--gray);
    --border-secondary: var(--secondary);
    --border-tertiary: var(--quaternary);

    /* Text Colors */
    --txt-primary: var(--lighter);
    --txt-secondary: var(--gray);
    --txt-tertiary: var(--quaternary);
    --txt-quaternary: var(--tertiary);
    --txt-quintenary: var(--sextenary);
    --txt-sextenary: var(--quintenary);

    /* Label Colors */
        --label-primary: var(--light);
        --label-secondary: var(--primary);
}
.light-theme{
    /* Background Colors */
    --bkg-primary: var(--light);
    --bkg-secondary: var(--gray);
    --bkg-tertiary: var(--tertiary);
    --bkg-quaternary: var(--secondary);
    --bkg-quintenary: transparent;

    /* Border Colors */
    --border-primary: var(--gray);
    --border-secondary: var(--tertiary);
    --border-tertiary: var(--quintenary); 

    /* Text Colors */
    --txt-primary: var(--darker);
    --txt-secondary: var(--dark);
    --txt-tertiary: var(--quaternary);
    --txt-quaternary: var(--tertiary);
    --txt-quintenary: var(--sextenary);
    --txt-sextenary: var(--quintenary);

    /* Label Colors */
    --label-primary: var(--light);
    --label-secondary: var(--primary);
}
/* END OF TOKENIZED COLOR VARIABLES */

.round-theme{
    --radius-025: 3pt;
    --radius-050: 6pt;
    --radius-100: 12pt;
    --radius-150: 18pt;
    --radius-200: 24pt;
}

body{
    /* Default Site Background */
    background-color: var(--bkg-primary);
}

main {
    position: relative;
    z-index: 99999;
}

/* GLOBAL TEXT STYLES */
h1 {
    /* Default font*/
    font-family: "Roboto Slab", serif;
    color: white;
    font-size: 1rem;
}
h2, h3, h4, h5, h6 {
    /* Default font*/
    font-family: "Ubuntu", sans-serif;
    color: var(--txt-primary);
    font-size: 1rem;
    position: relative;
}
h2, h3, h4 {
    /* Default font*/
    font-weight: 400;
    line-height: 1.5;
}
h5, h6 {
    /* Default font*/
    font-weight: 400;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
}
p:not(:last-child) {
    margin-bottom: 1em;
}
a {
    font-weight: 400;
    color: var(--txt-quintenary);
}
a:hover {
    color: var(--txt-sextenary);
}
a:visited{
    color: var(--txt-ququaternary);
}
.txt-size-2{
    font-size: var(--txt-200);
}
/* END OF GLOBAL TEXT STYLES */

/* LAYOUT */
.section {
    position: relative;
}
.section-container, .sc-container {
    position: relative;
    width: 1170px;
    max-width: 100%;
    padding: var(--spacing-500) var(--spacing-200);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    position: relative;
    padding-top: calc(var(--spacing-500)*2);
  }
/* END OF LAYOUT */

/* BORDERS*

* Use the following class in the body element*/
.bordered-theme{
    --border-000: unset;
    --border-100: solid .5pt;
    --border-200: solid .75pt;
    --border-300: solid 1pt;
    --border-400: solid 1.5pt;
    --border-500: solid 2pt;
    --border-500: solid 2pt white;
}
/* END OF LAYOUT */