/* Use the selectors in this docomunt to style elements **
** Global Styles should be placed in the main.css document **

/* STYLE */

/* backgrounds */
.bkg-1{ background: var(--bkg-primary);}
.bkg-2{ background: var(--bkg-secondary);}

/* borders */
.border-left{      border-left:  var(--border-300);}
.border-secondary{ border-color: var(--border-secondary);
}

/* text */
.hilight-txt, .hl-txt{
    font-weight: 400;
    background-color: var(--secondary);
}

/* END OF STYLE **

** LAYOUT */
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}
/*
** Alignment */
.txt-center{   text-align: center;}
.flex-center{
    align-items: center;
    justify-content: center;
}
/* END OF LAYOUT**

/* SPACING */
.padding-top-900, .pt-900{
    padding-top: var(--spacing-900);
}
.padding-left-200, .pl-200{
    padding-left: var(--spacing-200);
}
.margin-top-900, .mt-900{
    margin-top: var(--spacing-900);
}
.margin-bottom-900, .mb-900{
    margin-bottom: var(--spacing-900);
}
.margin-top-500, .mt-500{
    margin-top: var(--spacing-500);
}
.margin-bottom-500, .mb-500{
    margin-bottom: var(--spacing-500);
}
.margin-bottom-200, .mb-200{
    margin-bottom: var(--spacing-200);
}

.gap-200{
    gap: var(--spacing-200);
}
.gap-500 {
    gap:var(--spacing-500)
}
/* END OF SPACING*/
