/* Use the selectors in this docomunt to style elements **
** Global Styles should be placed in the main.css document **

/* STYLE */

/* backgrounds */
.bkg-2{ background: var(--bkg-secondary);}

/* borders */
.border-left{      border-left:  var(--border-300);}
.border-secondary{ border-color: var(--border-secondary);
}

/* text */
.hilight-txt, .hl-txt{
    font-weight: 500;
    background-color: var(--secondary);
}

/* END OF STYLE **

** LAYOUT */
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row
}
/*
** Alignment */
.txt-center{   text-align: center;}
.flex-center{
    align-items: center;
    justify-content: center;
}
/* END OF LAYOUT**

/* SPACING */
.padding-left-200, .pl-200{
    padding-left: var(--spacing-200);
}

.margin-bottom-200, .mb-200{
    margin-bottom: var(--spacing-200);
}

.gap-200{
    gap: var(--spacing-200);
}
/* END OF SPACING*/
