<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta lang="pt-BR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <title>Componentes | Meu Site</title>
</head>
<body class="dark-theme round-theme bordered-theme">
    <header>
        <img class="header-logo" src="../images/Logo-Designer-Carlos.svg" alt="F" width="60">
        <nav>
            <!-- Hamburguer Menu -->
            <details class="hb-menu">
                    <summary class="hb-menu-btn">
                        <div class="hb-menu-btn-icon">
                            <span class="hb-menu-btn-icon-elm hb-menu-btn-icon-elm-1"></span>
                            <span class="hb-menu-btn-icon-elm hb-menu-btn-icon-elm-2"></span>
                            <span class="hb-menu-btn-icon-elm hb-menu-btn-icon-elm-3"></span>
                        </div>
                </summary>
                <menu class="hb-menu-list">
                    <li>
                        <button class="btn-secondary">
                            <label class="btn-label">Eu sou um botão</label> 
                        </button>
                        <button class="btn-primary">
                            <label class="btn-label">Eu sou um botão</label> 
                        </button>
                    </li>
                </menu>
            </details>
            <!-- End Of Hamburguer Menu -->
        </nav>
    </header>
    <main>
        <h1>Componentes</h1>
        <div ID="Components-txt" class="section">
            <div>
                <h2>Título 2</h2>
                <h3>Título 3</h3>
                <h4>Título 4</h4>
                <h5>Título 5</h5>
                <h6>Título 6</h6>
            </div>
            <div class="btn-area">
                <button class="btn-primary">
                    <label class="btn-label">Eu sou um botão</label> 
                    <img class="btn-icon" src="../icons/Icone.svg" alt="icon">
                </button>
                <button class="btn-secondary">
                    <label class="btn-label">Eu sou um botão</label> 
                    <img class="btn-icon" src="../icons/Icone.svg" alt="icon">
                </button>
                <button class="btn-tertiary">
                    <label class="btn-label">Eu sou um botão</label> 
                </button>
            </div>
            <div class="accordion-area">
                <details class="accordion">
                    <summary class="accordion-summary">
                    </summary>
                    <div class="accordion-content">
                    </div>
                </details>
            </div>
        </div>
    </main> 
</body>
</html>