<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta lang="pt-BR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <title>Componentes | Meu Site</title>
</head>
<body class="dark-theme round-theme bordered-theme">
    <header>
        <img class="header-logo" src="../images/Logo-Designer-Carlos.svg" alt="F" width="60">
        <nav>
            <!-- Hamburguer Menu -->
            <details class="hb-menu">
                    <summary class="hb-menu-btn">
                        <div class="hb-menu-btn-icon">
                            <span class="hb-menu-btn-icon-elm hb-menu-btn-icon-elm-1"></span>
                            <span class="hb-menu-btn-icon-elm hb-menu-btn-icon-elm-2"></span>
                            <span class="hb-menu-btn-icon-elm hb-menu-btn-icon-elm-3"></span>
                        </div>
                </summary>
                <menu class="hb-menu-list">
                    <li>
                        <button class="btn-tertiary">
                            <label class="btn-label">Eu sou um botão</label> 
                        </button>
                        <button class="btn-primary">
                            <label class="btn-label">Eu sou um botão</label> 
                        </button>
                    </li>
                </menu>
            </details>
            <!-- End Of Hamburguer Menu -->
        </nav>
    </header>
    <main>
        <div class="section">
            <h1>Componentes</h1>
            <h2 class="heading">Título 2</h2>
            <h3 class="heading">Título 3</h3>
            <h4 class="heading">Título 4</h4>
            <h5 class="heading">Título 5</h5>
            <h6 class="heading h6">Título 6</h6>
        </div>
        <div class="section">
            <div class="btn-area">
                <button class="btn-primary">
                    <label class="btn-label">Eu sou um botão</label> 
                    <img class="btn-icon" src="../icons/Icone.svg" alt="icon">
                </button>
                <button class="btn-secondary">
                    <label class="btn-label">Eu sou um botão</label> 
                    <img class="btn-icon" src="../icons/Icone.svg" alt="icon">
                </button>
                <button class="btn-tertiary">
                    <label class="btn-label">Eu sou um botão</label> 
                </button>
            </div>
        </div>
        <div class="section">
            <div class="accordion-area">
                <details class="accordion accordion-1">
                    <summary class="accordion-summary">
                        <h3 class="accordion-heading">Eu sou um acordeão</h3>
                    </summary>
                    <div class="accordion-txt">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Scelerisque porttitor nulla leo quis nunc. Egestas urna justo ut massa quis et quam viverra eu.
                            Amet diam justo sed eget. Egestas mattis sem sit a. Rutrum tortor in convallis id facilisis vestibulum feugiat adipiscing aliquam. 
                        </p>
                    </div>
                </details>
            </div>
            <div class="accordion-area">
                <details class="accordion accordion-2">
                    <summary class="accordion-summary">
                        <div class="heading-area accordion-heading">
                            <h3 class="heading h3">Eu sou um acordeão</h3>
                            <h4 class="heading h6">Título 6</h4>
                        </div>
                    </summary>
                    <div class="accordion-txt">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Scelerisque porttitor nulla leo quis nunc. Egestas urna justo ut massa quis et quam viverra eu.
                            Amet diam justo sed eget. Egestas mattis sem sit a. Rutrum tortor in convallis id facilisis vestibulum feugiat adipiscing aliquam. 
                        </p>
                    </div>
                </details>
            </div>
        </div>
        <div class="section">
            <div class="info-box">
                <div class="ib-img-area">
                    <img src="../icons/Icone.svg" alt="icon">
                </div>
                <div class="heading-area ib-heading-area">
                        <h3 class="heading h3">Eu sou uma caixa de informação</h3>
                        <h4 class="heading h6">Título 6</h4>
                </div>
                <div class="ib-txt-area">
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Scelerisque porttitor nulla leo quis nunc. Egestas urna justo ut massa quis et quam viverra eu.
                        Amet diam justo sed eget. Egestas mattis sem sit a. Rutrum tortor in convallis id facilisis vestibulum feugiat adipiscing aliquam. 
                    </p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="timeline">
                <span  class="tl-line"></span>
                <div class="info-box">
                    <div class="ib-img-area">
                        <img src="../icons/Dot.svg" alt="icon">
                    </div>
                    <div class="heading-area ib-heading-area">
                            <h3 class="heading h3">Eu sou uma caixa de informação</h3>
                            <h4 class="heading h6">Título 6</h4>
                    </div>
                </div>
            </div>
        </div>
    </main> 
</body>
</html>