<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta lang="pt-BR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Componentes | Meu Site</title>
</head>
<body class="mode-dark">
    <main>
        <h1>Bibliotenca de Componentes</h1>
        <div ID="Components-txt" class="section">
            <h2>Texto</h2>

            <!-- Inicio do componente -->
            <div>
                <h3>Título</h3>
                <div>
                    <!-- Inicio das variações -->
                    <h4>Título 1</h4>
                    <h4>HTML</h4>
                    <code>
                    </code>
                    <h4>CSS</h4>
                    <code>
                    </code>
                    <h4>JavaScript</h4>
                    <code>
                    </code>
                    <!-- fim das variações -->
                </div>
            </div>
        </div>
        <!-- fim do componente -->

    </main>
</body>
</html>